<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email</title>
</head>
<body>
<div id=":db" class="ii gt"><div id=":da" class="a3s aXjCH "><u></u>

            <h1 style="padding:0;margin:0;font-size:20px;font-weight:bold;color:#fd5304;float:left;margin-top:37px;margin-left:35px">
                XÁC NHẬN ĐƠN HÀNG
            </h1>

            <div style="clear:both">&nbsp;</div>
        </div>

        <div style="margin-top:20px">
            <span>Xin chào,<label style="font-weight:bold;font-size:14px;text-transform:uppercase">{{Ten_Khach_Hang}}</label></span>
            <br>
            <span style="margin:5px 0px;color:#525252;font-weight:bold">
                - Cảm ơn quý khách đã tin dùng dịch vụ của chúng tôi. <br>
                - Dưới đây là chi tiết đơn hàng, vui lòng đọc kỹ và thanh toán sớm để bảo toàn giá vé. <br>
                - Mọi thắc mắc vui lòng gọi vào Hotline : <strong style="color:red">028.62657027 - 0938395797</strong> <br>
                <i> <span style="color:red">Lưu ý đối với vé tết:</span> quý khách vui lòng sắp xếp thời gian có mặt ở sân bay trước 2 tiếng so với giờ khởi hành.</i>
            </span>

        </div>

        <div style="margin-top:10px">
            <table style="width:100%;border-collapse:collapse" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr>
                    <td colspan="2" style="background:#168fb0;color:#fff;font-weight:bold;border:1px solid #ff8c56;padding:8px 0;text-align:center">THÔNG TIN ĐƠN HÀNG</td>
                </tr>
                <tr>
                    <td style="width:25%;border:1px solid #e0e0e0;padding:4px 0px 4px 10px;color:#888;font-weight:bold">Mã đơn hàng</td>
                    <td style="width:75%;font-weight:bold;color:#fd5304;border:1px solid #e0e0e0;padding:3px"></td>
                </tr>
                <tr>
                    <td style="border:1px solid #e0e0e0;padding:4px 0px 4px 10px;color:#888;font-weight:bold">Trạng thái</td>
                    <td style="font-weight:bold;border:1px solid #e0e0e0;padding:3px"></td>
                </tr>
                <tr>
                    <td style="border:1px solid #e0e0e0;padding:4px 0px 4px 10px;color:#888;font-weight:bold">Loại vé</td>
                    <td style="font-weight:bold;border:1px solid #e0e0e0;padding:3px"</td>
                </tr>
                <tr>
                    <td style="border:1px solid #e0e0e0;padding:4px 0px 4px 10px;color:#888;font-weight:bold">Tổng tiền thanh toán</td>
                    <td style="font-weight:bold;color:#fd5304;border:1px solid #e0e0e0;padding:3px"></td>
                </tr>
                <tr>
                    <td style="border:1px solid #e0e0e0;padding:4px 0px 4px 10px;color:#888;font-weight:bold">Hình thức thanh toán</td>
                    <td style="font-weight:bold;border:1px solid #e0e0e0;padding:3px"></td>
                </tr>
            </tbody></table>
        </div>

         <div style="margin-top:10px">
            <table style="width:100%;border-collapse:collapse" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr>
                    <td colspan="2" style="background:#168fb0;color:#fff;font-weight:bold;border:1px solid #ff8c56;padding:8px 0;text-align:center">THÔNG TIN NGƯỜI LIÊN HỆ</td>
                </tr>
                <tr>
                    <td style="width:25%;border:1px solid #e0e0e0;padding:4px 0px 4px 10px;color:#888;font-weight:bold">Tên người liên lạc</td>
                    <td style="width:75%;font-weight:bold;color:#fd5304;border:1px solid #e0e0e0;padding:3px">{{Ten_Khach_Hang}}</td>
                </tr>
                <tr>
                    <td style="border:1px solid #e0e0e0;padding:4px 0px 4px 10px;color:#888;font-weight:bold">Số điện thoại</td>
                    <td style="font-weight:bold;border:1px solid #e0e0e0;padding:3px">{{SDT}}</td>
                </tr>
                <tr>
                    <td style="border:1px solid #e0e0e0;padding:4px 0px 4px 10px;color:#888;font-weight:bold">Địa chỉ</td>
                    <td style="font-weight:bold;border:1px solid #e0e0e0;padding:3px">{{Dia_Chi}}</td>
                </tr>
                <tr>
                    <td style="border:1px solid #e0e0e0;padding:4px 0px 4px 10px;color:#888;font-weight:bold">Email</td>
                    <td style="font-weight:bold;color:#fd5304;border:1px solid #e0e0e0;padding:3px"><a href="#" target="_blank">{{Email}}</a></td>
                </tr>
            </tbody></table>
        </div>

        <div style="margin-top:20px">

             <p></p><h2 style="background:none repeat scroll 0 0 #168fb0;color:#ffffff;font-size:12px;line-height:35px;height:35px;text-align:center;text-transform:uppercase;font-weight:bold;margin:0;padding-left:10px;padding-right:10px;width:780px">Thông tin chuyến bay</h2><p></p>

                                              <table style="border-collapse:collapse;width:100%;margin-bottom:20px">
            <tbody><tr><td colspan="3" style="font-size:12px;font-weight:bold;text-align:left;padding:7px;color:#999;text-transform:uppercase"><h2 style="text-align:center;margin:0;padding:0;font-size:14px;color:#d62c25"> </h2></td></tr>
            <tr>
               <td style="color:#d62c25"><img src="https://ci4.googleusercontent.com/proxy/WbF0qohIZQj0qdDc2qdUypbewjV4nD-7LgjoNtcFymyYMEhTfCNXWEhKOa83AP7tQ5Q4-ayNxOFRjsAx_CscUw=s0-d-e1-ft#https://vietnamairslines.com/image/air/VJ.png" class="CToWUd"><strong>#</strong><br></td>
               <td style="text-transform:uppercase">#</td>
               <td></td>
            </tr>
            <tr>
                <td style="color:#d62c25">Cất cánh</td>
                <td>05:50 <i>10-09-2020</i> </td>
                <td style="text-align:left">Tại: <strong style="color:#3366cc"># </strong></td>
            </tr>
            <tr>
                <td style="color:#d62c25">Hạ cánh</td>
                <td> 08:00 <i>10-09-2020</i></td>
                <td style="text-align:left">Tại: <strong style="color:#3366cc"> #</strong></td>
            </tr>
            </tbody></table>
            <h3 style="color:#3366cc">Thông tin giá vé lượt đi</h3>
            <table style="border-collapse:collapse;width:100%;border-top:1px solid #d62c25;margin-bottom:20px;color:#333">
                <thead>
                    <tr style="background-color:#d62c25;color:#fff">
                        <th style="font-size:12px;border-right:1px solid #d62c25;border-bottom:1px solid #d62c25;background-color:#d62c25;font-weight:bold;text-align:left;padding:7px;color:#fff;text-transform:uppercase">Hành Khách</th>
                        <th style="font-size:12px;border-right:1px solid #d62c25;border-bottom:1px solid #d62c25;background-color:#d62c25;font-weight:bold;text-align:left;padding:7px;color:#fff;text-transform:uppercase">Số Lượng vé</th>
                        <th style="font-size:12px;border-right:1px solid #d62c25;border-bottom:1px solid #d62c25;background-color:#d62c25;font-weight:bold;text-align:left;padding:7px;color:#fff;text-transform:uppercase">Giá vé</th>
                        <th style="font-size:12px;border-right:1px solid #d62c25;border-bottom:1px solid #d62c25;background-color:#d62c25;font-weight:bold;text-align:left;padding:7px;color:#fff;text-transform:uppercase">Thuế và Phí</th>
                        <th style="font-size:12px;border-right:1px solid #d62c25;border-bottom:1px solid #d62c25;background-color:#d62c25;font-weight:bold;text-align:left;padding:7px;color:#fff;text-transform:uppercase">Tổng giá</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="border:1px solid #d62c25">Người lớn
                            <div style="clear:both">
                                    <i>Ông:  </i> {{Ten_Khach_Hang}}
                                </div></td>
                        <td style="border:1px solid #d62c25">1<br>

                        </td>
                        <td style="border:1px solid #d62c25">{{Gia_Ve_Loai_1}}</td>
                        <td style="border:1px solid #d62c25">730,900vnđ</td>
                        <td style="text-align:right;border:1px solid #d62c25">929,900vnđ</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border:1px solid #d62c25">Phí vận chuyển thêm hành lý</td>
                        <td style="border:1px solid #d62c25"> + Không mang theo hành lý</td>
                        <td style="border:1px solid #d62c25"></td><td style="text-align:right;border:1px solid #d62c25">0vnđ</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border:1px solid #d62c25">Thành tiền</td>
                        <td style="border:1px solid #d62c25"></td><td style="border:1px solid #d62c25"></td>
                        <td style="text-align:right;border:1px solid #d62c25">929,900vnđ</td>
                    </tr>
                </tbody>
            </table>

        </div>
                     <div style="margin-top:20px;border:1px solid #ff9f9f;background:#ffecec;padding:8px">
                   <table style="width:100%" cellpadding="0" cellspacing="0">
        </table>                       </div>
                <div style="margin-top:20px;border:1px solid #ff9f9f;background:#ffecec;padding:8px">
            <h3 style="margin:5px 0px;color:#d80000">ĐIỀU KHOẢN DỊCH VỤ: </h3>
            <p style="font-weight:bold">
                <label style="font-size:18px">1.</label>
                Chúng tôi cam kết tuân thủ Luật hàng không và pháp luật Việt Nam khi quý khách book vé trên hệ thống Phòng Vé <a href="http://vietnamairslines.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://vietnamairslines.com&amp;source=gmail&amp;ust=1599748637592000&amp;usg=AFQjCNE21q7pvvFZiTm2WNHRQ3YppNwI9g">vietnamairslines.com</a>.
            </p>
            <p style="font-weight:bold">
                <label style="font-size:18px">2.</label>

                Thông tin quý khách cung cấp được bảo mật hoàn toàn, chỉ dùng cho mục đích giữ chỗ và xuất vé.
                Trường hợp thông tin cung cấp bị sai lệch (Họ tên, email, số điện thoại)
                quý khách sẽ phải chịu trách nhiệm với hãng hoặc mất phí chỉnh sửa (phí đổi tên, hành trình ...).
            </p>
            <p style="font-weight:bold">
                <label style="font-size:18px">3.</label>
                Quý khách vui lòng sắp xếp thời gian có mặt ở sân bay trước 120 phút so với giờ khởi hành.
            </p>
        </div>

        <div style="margin-top:20px">
            <label style="font-weight:bold;font-size:15px">Mọi thắc mắc vui lòng gọi vào hotline: </label><label style="font-weight:bold;font-size:20px;color:#d80000">028.62657027 - 0938395797</label>
        </div>

        <div style="font-weight:bold;text-align:right;margin-top:20px">
            <a href="https://vietnamairslines.com/" title="" style="text-decoration:none;color:#000" target="_blank"
               data-saferedirecturl="https://www.google.com/url?q=https://vietnamairslines.com/&amp;source=gmail&amp;ust=1599748637592000&amp;usg=AFQjCNFX4MzkHHMFgpK9dEUgM7TCG8h6wA">
                Phòng Vé  nghe là thích</a><br>
            Một Dịch Vụ         </div><div class="yj6qo"></div><div class="adL">
    </div>
</div><div class="adL">
</div></div><div class="adL">
</div>
</div>
</div>
</body>
</html>